In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import pyBigWig

In [5]:
# ATAC seq is run on this file [old cleaned dataset ]

inpath = '../../Data/CleanedExternalData/archive/'
DatasetCombine = pd.read_csv(inpath + 'DatasetCombine.csv')
DatasetCombine['DataSet'] = DatasetCombine['DataSet'].str.replace('Nunze', 'Nunez')
DatasetCombine.DataSet.value_counts()

DataSet
InHouse    344011
Nunez       72499
Gilbert     18595
Name: count, dtype: int64

In [7]:
# new cleaned file
inpath = '../../Data/CleanedExternalData/'

NewDatasetCombine = pd.read_csv(inpath + 'DatasetCombineCleaned_v3.csv', low_memory=False)
NewDatasetCombine.DataSet.value_counts()

DataSet
InHouse    344011
Nunez       68575
Gilbert     18509
Name: count, dtype: int64

In [8]:
# check if the new cleaned file is contained in the old file that ATACseq is run on
checkNewDatasetCombine = pd.merge(DatasetCombine[['Target Gene Symbol', 'chromosome',
       'sgRNA Context Sequence','condition', 'Domain', 'DataSet']],
         NewDatasetCombine, on = ['Target Gene Symbol',
       'sgRNA Context Sequence','condition', 'Domain', 'DataSet','chromosome'])
len(checkNewDatasetCombine) == len(NewDatasetCombine)

True

In [9]:
checkNewDatasetCombine.DataSet.value_counts()

DataSet
InHouse    344011
Nunez       68575
Gilbert     18509
Name: count, dtype: int64

In [10]:
checkNewDatasetCombine['orginal phenotype'] = checkNewDatasetCombine['Phenotype scores-ave_Rep1_Rep2'].combine_first(checkNewDatasetCombine['z_scored_avg_lfc']).combine_first(checkNewDatasetCombine['rhoSignChangedAndAvged'])

In [11]:
checkNewDatasetCombine[['condition', 'Domain', 'DataSet']].value_counts()

condition  Domain  DataSet
HCT116     Kox1    InHouse    86047
A549       Zim3    InHouse    86026
           Kox1    InHouse    85993
HCT116     Zim3    InHouse    85945
K562       Kox1    Nunez      68575
                   Gilbert    18509
Name: count, dtype: int64

In [25]:
# the code for those processed data can be found in the previousATAC folder
atac_out = '../../Data/ATACseq/'
chrtest_k562 = pd.read_csv(atac_out + 'ATAC_K562.csv')
chrtest_k562['ATACseq'] = 'K562'

chrtest_hct116 = pd.read_csv(atac_out + 'ATAC_HCT116.csv')
chrtest_hct116['ATACseq'] = 'HCT116'

chrtest_a549 = pd.read_csv(atac_out + 'ATAC_A549.csv')
chrtest_a549['ATACseq'] = 'A549'

chrtest_MCF7 = pd.read_csv(atac_out + 'ATAC_MCF7.csv' )
chrtest_MCF7['ATACseq'] = 'MCF7'

chrtest_Panc1 = pd.read_csv(atac_out + 'ATAC_Panc1.csv' )
chrtest_Panc1['ATACseq'] = 'Panc1'

chrtest_HepG2 = pd.read_csv(atac_out + 'chrtest_HepG2.csv' )
chrtest_HepG2['ATACseq'] = 'HepG2'

chrtest_GM12878 = pd.read_csv(atac_out + 'ATAC_GM12878.csv' )
chrtest_GM12878['ATACseq'] = 'GM12878'

In [26]:
chrtest = pd.concat([chrtest_k562,chrtest_hct116,chrtest_a549,chrtest_MCF7,chrtest_Panc1,chrtest_HepG2,chrtest_GM12878])
chrtest['DataSet'] = chrtest['DataSet'].str.replace('Nunze', 'Nunez')
chrtest

,Target Gene Symbol,chromosome,sgRNA Sequence,sgRNA Context Sequence,sgRNA 'Cut' Position,Strand of Target,TSS Position,sgRNA 'Cut' Site TSS Offset,scaled_phenotype,orginal phenotype,condition,Domain,DataSet,overlap with peak,ATACseq
0,BPY2,chrY,AAAAAATAAGGCAGGTGCCA,TACAAAAAAATAAGGCAGGTGCCATGGCAG,22983942.0,+,22984264.0,-322.0,0.376492,-0.125426,A549,Kox1,InHouse,0,K562
1,BPY2,chrY,AAAAAATAAGGCAGGTGCCA,TACAAAAAAATAAGGCAGGTGCCATGGCAG,22983942.0,+,22984264.0,-322.0,0.336803,-0.113912,A549,Zim3,InHouse,0,K562
2,BPY2,chrY,AAAAAATAAGGCAGGTGCCA,TACAAAAAAATAAGGCAGGTGCCATGGCAG,22983942.0,+,22984264.0,-322.0,0.096359,0.539853,HCT116,Kox1,InHouse,0,K562
3,BPY2,chrY,AAAAAATAAGGCAGGTGCCA,TACAAAAAAATAAGGCAGGTGCCATGGCAG,22983942.0,+,22984264.0,-322.0,0.302406,0.070993,HCT116,Zim3,InHouse,0,K562
4,DAZ1,chrY,AAAAATTCTAAAATTCTCAA,GTTTAAAAATTCTAAAATTCTCAATGGTAA,23198021.0,-,23199008.0,988.0,0.233765,0.371842,A549,Kox1,InHouse,0,K562
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
435100,LUZP4,chrX,TCCTTTCAGGTGGGGAACTG,CCTCTCCTTTCAGGTGGGGAACTGAGGGAG,115290090.0,+,115289716.0,374.0,0.109000,0.614498,A549,Zim3,InHouse,0,GM12878
435101,LUZP4,chrX,TCCTTTCAGGTGGGGAACTG,CCTCTCCTTTCAGGTGGGGAACTGAGGGAG,115290090.0,+,115289716.0,374.0,0.157225,0.312526,HCT116,Kox1,InHouse,0,GM12878
435102,LUZP4,chrX,TCCTTTCAGGTGGGGAACTG,CCTCTCCTTTCAGGTGGGGAACTGAGGGAG,115290090.0,+,115289716.0,374.0,0.147145,0.473902,HCT116,Zim3,InHouse,0,GM12878
435103,SAGE1,chrX,ACTGACCAAGAAAAATAGAA,CTTGACTGACCAAGAAAAATAGAAAGGACT,135894542.0,+,135893717.0,825.0,0.220117,0.359468,HCT116,Kox1,InHouse,0,GM12878
435104,SAGE1,chrX,ACTGACCAAGAAAAATAGAA,CTTGACTGACCAAGAAAAATAGAAAGGACT,135894542.0,+,135893717.0,825.0,0.293135,-0.100868,HCT116,Zim3,InHouse,0,GM12878

In [15]:
chrtest.ATACseq.value_counts()

ATACseq
K562       435105
HCT116     435105
A549       435105
MCF7       435105
Panc1      435105
HepG2      435105
GM12878    435105
Name: count, dtype: int64

In [16]:
chrtest[['ATACseq','condition', 'Domain', 'DataSet']].value_counts()

ATACseq  condition  Domain  DataSet
A549     HCT116     Kox1    InHouse    86047
K562     HCT116     Kox1    InHouse    86047
Panc1    HCT116     Kox1    InHouse    86047
GM12878  HCT116     Kox1    InHouse    86047
HepG2    HCT116     Kox1    InHouse    86047
MCF7     HCT116     Kox1    InHouse    86047
HCT116   HCT116     Kox1    InHouse    86047
K562     A549       Zim3    InHouse    86026
Panc1    A549       Zim3    InHouse    86026
A549     A549       Zim3    InHouse    86026
GM12878  A549       Zim3    InHouse    86026
HepG2    A549       Zim3    InHouse    86026
HCT116   A549       Zim3    InHouse    86026
MCF7     A549       Zim3    InHouse    86026
                    Kox1    InHouse    85993
HepG2    A549       Kox1    InHouse    85993
A549     A549       Kox1    InHouse    85993
K562     A549       Kox1    InHouse    85993
Panc1    A549       Kox1    InHouse    85993
GM12878  A549       Kox1    InHouse    85993
HCT116   A549       Kox1    InHouse    85993
K562     HCT116     Zim3    InHouse    85945
MCF7     HCT116     Zim3    InHouse    85945
Panc1    HCT116     Zim3    InHouse    85945
HepG2    HCT116     Zim3    InHouse    85945
A549     HCT116     Zim3    InHouse    85945
GM12878  HCT116     Zim3    InHouse    85945
HCT116   HCT116     Zim3    InHouse    85945
HepG2    K562       Kox1    Nunez      72499
GM12878  K562       Kox1    Nunez      72499
A549     K562       Kox1    Nunez      72499
MCF7     K562       Kox1    Nunez      72499
Panc1    K562       Kox1    Nunez      72499
K562     K562       Kox1    Nunez      72499
HCT116   K562       Kox1    Nunez      72499
HepG2    K562       Kox1    Gilbert    18595
MCF7     K562       Kox1    Gilbert    18595
HCT116   K562       Kox1    Gilbert    18595
K562     K562       Kox1    Gilbert    18595
A549     K562       Kox1    Gilbert    18595
Panc1    K562       Kox1    Gilbert    18595
GM12878  K562       Kox1    Gilbert    18595
Name: count, dtype: int64

In [17]:
checkNewDatasetCombine.head(1)

,Target Gene Symbol,chromosome,sgRNA Context Sequence,condition,Domain,DataSet,sgRNA Sequence,sgRNA 'Cut' Position,Strand of Target,TSS Position,sgRNA 'Cut' Site TSS Offset,Phenotype scores-ave_Rep1_Rep2,Avg_LFC-Tfinal,z-score relative to NC,rhoSignChangedAndAvged,zscoreRelativeNC_signed,Avg_LFC_signed,z_scored_avg_lfc,orginal phenotype
0,ACTR6,chr12,TGCTTCGAGCACATAGAGGGATCTGGGCCC,K562,Kox1,Nunez,GCGAGCACATAGAGGGATCT,100198288.0,+,100200816.0,-2528.0,-0.018881,0.035104,-0.889828,NaN,NaN,NaN,NaN,-0.018881

In [18]:
checkNewDatasetCombine.chromosome.unique()

array(['chr12', 'chr18', 'chr3', 'chr1', 'chr8', 'chr22', 'chr17', 'chr5',
       'chr10', 'chr11', 'chr14', 'chr2', 'chr21', 'chr15', 'chr6',
       'chr4', 'chr19', 'chr13', 'chr16', 'chr7', 'chr20', 'chr9',
       'chr23', 'chr24'], dtype=object)

In [19]:
chrtest.chromosome.unique()

array(['chrY', 'chr11', 'chr17', 'chr10', 'chr18', 'chr1', 'chr9', 'chr8',
       'chr19', 'chr16', 'chr14', 'chr15', 'chr3', 'chr21', 'chr6',
       'chr5', 'chr13', 'chr2', 'chr22', 'chr4', 'chr12', 'chr7', 'chrX',
       'chr20'], dtype=object)

In [20]:
chrtest['chromosome'] = chrtest['chromosome'].replace('chrY','chr24')
chrtest['chromosome'] = chrtest['chromosome'].replace('chrX','chr23')

In [21]:
new_chrtest = pd.merge(checkNewDatasetCombine[['Target Gene Symbol', 'chromosome',
       'sgRNA Context Sequence','condition', 'Domain', 'DataSet','orginal phenotype']], 
                    chrtest[['Target Gene Symbol', 'chromosome',
       'sgRNA Context Sequence','condition', 'Domain', 'DataSet','overlap with peak','ATACseq']],
                       on = ['Target Gene Symbol','chromosome','sgRNA Context Sequence','condition', 'Domain', 'DataSet'],
                                               how = 'inner')

In [22]:
new_chrtest[['ATACseq','condition', 'Domain', 'DataSet']].value_counts().value_counts()

count
86047    7
86026    7
85993    7
85945    7
68575    7
18509    7
Name: count, dtype: int64

In [23]:
new_chrtest

,Target Gene Symbol,chromosome,sgRNA Context Sequence,condition,Domain,DataSet,orginal phenotype,overlap with peak,ATACseq
0,ACTR6,chr12,TGCTTCGAGCACATAGAGGGATCTGGGCCC,K562,Kox1,Nunez,-0.018881,0,K562
1,ACTR6,chr12,TGCTTCGAGCACATAGAGGGATCTGGGCCC,K562,Kox1,Nunez,-0.018881,0,HCT116
2,ACTR6,chr12,TGCTTCGAGCACATAGAGGGATCTGGGCCC,K562,Kox1,Nunez,-0.018881,0,A549
3,ACTR6,chr12,TGCTTCGAGCACATAGAGGGATCTGGGCCC,K562,Kox1,Nunez,-0.018881,0,MCF7
4,ACTR6,chr12,TGCTTCGAGCACATAGAGGGATCTGGGCCC,K562,Kox1,Nunez,-0.018881,0,Panc1
...,...,...,...,...,...,...,...,...,...
3017660,KRT36,chr17,ATGTTCCTTCCCTTCCTACAGCAAGGGGAG,HCT116,Zim3,InHouse,-0.510239,0,A549
3017661,KRT36,chr17,ATGTTCCTTCCCTTCCTACAGCAAGGGGAG,HCT116,Zim3,InHouse,-0.510239,0,MCF7
3017662,KRT36,chr17,ATGTTCCTTCCCTTCCTACAGCAAGGGGAG,HCT116,Zim3,InHouse,-0.510239,0,Panc1
3017663,KRT36,chr17,ATGTTCCTTCCCTTCCTACAGCAAGGGGAG,HCT116,Zim3,InHouse,-0.510239,0,HepG2
3017664,KRT36,chr17,ATGTTCCTTCCCTTCCTACAGCAAGGGGAG,HCT116,Zim3,InHouse,-0.510239,0,GM12878

In [19]:
# new_chrtest['orginal phenotype'] = new_chrtest['Phenotype scores-ave_Rep1_Rep2'].combine_first(new_chrtest['z_scored_avg_lfc']).combine_first(new_chrtest['rhoSignChangedAndAvged'])
new_chrtest = new_chrtest[['Target Gene Symbol', 'chromosome', 'sgRNA Context Sequence',
       'condition', 'Domain', 'DataSet', 'overlap with peak', 
       'orginal phenotype','ATACseq']]

In [20]:
new_chrtest['overlap with peak'].value_counts()

0    1584080
1    1433585
Name: overlap with peak, dtype: int64

In [21]:
out_path = '../../Data/ATACseq/'
new_chrtest.to_csv(out_path+'ATACseqPeakOverlap.csv', index = False)