In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '/Users/fzheng/Library/CloudStorage/GoogleDrive-fzheng@broadinstitute.org/Shared drives/GPP Cloud /R&D/Comp Data Sets/Tiling Library/Gilbert 2014/'
seq_detail = pd.read_table(path+"CRISPRicin library 20130912_final_draft_CRISPRicin.txt", header = None)
seq_phenotpye = pd.read_excel(path + 'CRISPRricin compiled all sgRNA data.xlsx', header = None)
new_col_seq_phenotpye = ['guide id'] + seq_phenotpye[[1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,17, 18, 19, 20, 21, 22, 23, 24]][0:3].apply('_'.join,  axis=0).tolist()
seq_phenotpye = seq_phenotpye.drop([0, 1,2,3], axis=0)
seq_phenotpye.columns = new_col_seq_phenotpye

path = '/Users/fzheng/Library/CloudStorage/GoogleDrive-fzheng@broadinstitute.org/Shared drives/GPP Cloud /R&D/People/Fengyi/rule_set/crispri/data/2023/k562_tiling/CRISPRko/'
new_tiling = pd.read_csv(path+'cleaned_horlbeck_tiling.csv')

/Users/fzheng/opt/anaconda3/lib/python3.8/site-packages/openpyxl/worksheet/_reader.py:312: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [3]:
seq_detail.head()

                      0                                                  1
0  IGF2R_w_160385167.25  cccttggagaaCCAcctTGTTGGGGAATAAAGAAAAACTACTTTGT...
1  IGF2R_w_160385190.28  cccttggagaaCCAcctTGTTGGCCTTTTGCTTAAGCAAAAGTCAC...
2  IGF2R_w_160385278.28  cccttggagaaCCAcctTGTTGgggaaatttagggaaaggacattg...
3  IGF2R_w_160385278.27  cccttggagaaCCAcctTGTTGggaaatttagggaaaggacattgt...
4  IGF2R_w_160385278.26  cccttggagaaCCAcctTGTTGgaaatttagggaaaggacattgtG...

In [4]:
seq_phenotpye.head()

,guide id,Cas9-nuclease_gamma_ave_LG_JEV,Cas9-nuclease_rho_ave_LG_JEV,Cas9-nuclease_tau_ave_LG_JEV,dCas9_gamma_ave_LG2_LG_MH2_MH,dCas9_rho_ave_LG2_LG_MH2_MH,dCas9_tau_ave_LG2_LG_MH2_MH,dCas9-KRAB_gamma_ave_LG2_LG_MH2_MH,dCas9-KRAB_rho_ave_LG2_LG_MH2_MH,dCas9-KRAB_tau_ave_LG2_LG_MH2_MH,...,scFV-VP64_tau_ave_LG_JEV,tet-Cas9-nuclease_gamma_ave_LG_JEV,tet-Cas9-nuclease_rho_ave_LG_JEV,tet-Cas9-nuclease_tau_ave_LG_JEV,tet-dCas9_gamma_ave_LG_JEV,tet-dCas9_rho_ave_LG_JEV,tet-dCas9_tau_ave_LG_JEV,tet-dCas9-KRAB_gamma_ave_LG_JEV,tet-dCas9-KRAB_rho_ave_LG_JEV,tet-dCas9-KRAB_tau_ave_LG_JEV
4,ARCN1_c_118438373.25,-0.042085,0.067389,-0.009748,-0.008239,-0.11281,-0.145932,-0.003073,-0.120761,-0.136305,...,-0.000032,-0.011297,-0.097876,-0.124901,-0.006776,0.089315,0.102563,0.000996,-0.005057,-0.00068
5,ARCN1_c_118438478.24,-0.028864,-0.029428,-0.075971,-0.009053,0.027236,0.007994,-0.003389,0.012341,0.002547,...,0.02593,-0.000848,-0.007781,-0.011579,0.008855,-0.018122,-0.008353,0.009998,-0.012417,0.00571
6,ARCN1_c_118438478.26,-0.010585,0.082849,0.055826,0.000392,-0.058185,-0.05975,-0.01074,0.029811,0.009294,...,0.051061,0.021742,0.061692,0.098399,0.001522,-0.003338,-0.006786,-0.001491,-0.028662,-0.030491
7,ARCN1_c_118438508.26,-0.002614,-0.114052,-0.10155,-0.015898,0.02013,-0.009754,0.00132,0.022175,0.023339,...,-0.016855,0.011423,0.000828,0.017933,0.020234,-0.005401,0.03163,-0.008477,0.005852,-0.01496
8,ARCN1_c_118438682.27,0.027815,-0.101679,-0.03159,0.032612,0.013335,0.080821,0.02712,-0.031622,0.017937,...,0.024278,NaN,NaN,NaN,-0.042612,0.08502,0.037326,NaN,NaN,NaN

In [5]:
new_tiling.head()

,gene symbol,chromosome,PAM genomic coordinate [hg19],strand targeted,sgRNA length (including PAM),sgRNA sequence,"FANTOM 5 TSS [Where P1 and P2 are >1kb apart, TSSs were treated separately and sgRNAs assigned to the closest TSS; otherwise, P1P2 indicates all coordinates are related to the P1 TSS]",Position relative to FANTOM5 TSS,Cas9 nuclease phenotype-signed z-score,Target site MNase signal,Doench et al. Nat. Biotech 2014 sgRNA sequence score,is targeting CDS?,liftover,PAM genomic coordinate [hg38]
0,ARCN1,chr11,118438372,-,25,GAAAACCTACCAGAGGTAAACA,P1P2,-4774,-0.817426,0.164000,0.127736,False,chr11:118438372-118438372,118567657
1,ARCN1,chr11,118438477,-,24,GATCTGTTTTGCTCGtaatag,P1P2,-4669,0.356962,1.112500,0.018762,False,chr11:118438477-118438477,118567762
2,ARCN1,chr11,118438477,-,26,GTGATCTGTTTTGCTCGtaatag,P1P2,-4669,-1.004960,1.096154,0.018762,False,chr11:118438477-118438477,118567762
3,ARCN1,chr11,118438507,-,26,gtaatgtgcagtacttactatgt,P1P2,-4639,1.383449,0.392308,0.193313,False,chr11:118438507-118438507,118567792
4,ARCN1,chr11,118438681,-,27,gcgctgaaaatagcagccaaacac,P1P2,-4465,1.233363,1.611111,0.193313,False,chr11:118438681-118438681,118567966

### check corrleation among different dcas methods

In [6]:
rho_dcas = seq_phenotpye[['dCas9_rho_ave_LG2_LG_MH2_MH', 'dCas9-KRAB_rho_ave_LG2_LG_MH2_MH', 
                       'tet-dCas9_rho_ave_LG_JEV', 'tet-dCas9-KRAB_rho_ave_LG_JEV']].dropna().astype(float)
rho_dcas.corr()
# those three methods don't correlate well so just gonna move forward with dCas9-KRAB

,dCas9_rho_ave_LG2_LG_MH2_MH,dCas9-KRAB_rho_ave_LG2_LG_MH2_MH,tet-dCas9_rho_ave_LG_JEV,tet-dCas9-KRAB_rho_ave_LG_JEV
dCas9_rho_ave_LG2_LG_MH2_MH,1.000000,0.488875,0.357679,0.306273
dCas9-KRAB_rho_ave_LG2_LG_MH2_MH,0.488875,1.000000,0.268658,0.518444
tet-dCas9_rho_ave_LG_JEV,0.357679,0.268658,1.000000,0.193303
tet-dCas9-KRAB_rho_ave_LG_JEV,0.306273,0.518444,0.193303,1.000000

## analysis using dCas9-KRAB

In [7]:
seq_detail.columns = ['guide id', 'oligo']

In [8]:
dcas_krab = pd.merge(seq_phenotpye[['guide id', 'dCas9-KRAB_rho_ave_LG2_LG_MH2_MH']],seq_detail, on = 'guide id' ).dropna()

In [9]:
dcas_krab[['Gene', 'Position']] = dcas_krab['guide id'].str.split('_', 1, expand=True)
#dcas_krab.to_csv('/Users/fzheng/Library/CloudStorage/GoogleDrive-fzheng@broadinstitute.org/Shared drives/GPP Cloud /R&D/People/Fengyi/rule_set/crispri/data/2023/k562_tiling/CRISPRi/dcas_krab.csv', index = False)
dcas_krab.head()

/var/folders/h4/ryygmkjj3m32xw7cjfk2gbvr0000gq/T/ipykernel_29842/2330417970.py:1: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  dcas_krab[['Gene', 'Position']] = dcas_krab['guide id'].str.split('_', 1, expand=True)

,guide id,dCas9-KRAB_rho_ave_LG2_LG_MH2_MH,oligo,Gene,Position
0,ARCN1_c_118438373.25,-0.120761,cccttggagaaCCAcctTGTTGGAAAACCTACCAGAGGTAAACAGT...,ARCN1,c_118438373.25
1,ARCN1_c_118438478.24,0.012341,cccttggagaaCCAcctTGTTGGATCTGTTTTGCTCGtaatagGTT...,ARCN1,c_118438478.24
2,ARCN1_c_118438478.26,0.029811,cccttggagaaCCAcctTGTTGGTGATCTGTTTTGCTCGtaatagG...,ARCN1,c_118438478.26
3,ARCN1_c_118438508.26,0.022175,cccttggagaaCCAcctTGTTGgtaatgtgcagtacttactatgtG...,ARCN1,c_118438508.26
4,ARCN1_c_118438682.27,-0.031622,cccttggagaaCCAcctTGTTGgcgctgaaaatagcagccaaacac...,ARCN1,c_118438682.27

In [10]:
len(dcas_krab)

53921

- RPS25 and C4orf41 only in CRISPRi
- TRAPPC11 only in CRISPRko
- 50 genes in CRISPRi instead of 49

In [11]:
# Drop negative controls and mismatches 
tiling_crispri = dcas_krab[dcas_krab['guide id'].str[:3] != "neg"]
tiling_crispri = tiling_crispri[tiling_crispri['guide id'].str[:3] != "mis"]
print(len(tiling_crispri))

52926

In [12]:
# Drop rows where rho values are null
tiling_crispri = tiling_crispri[tiling_crispri["dCas9-KRAB_rho_ave_LG2_LG_MH2_MH"].notnull()]
print(len(tiling_crispri))

52926

In [13]:
tiling_crispri["gene symbol"] = tiling_crispri['guide id'].str.split("_").str[0]
tiling_crispri["temp"] = tiling_crispri['guide id'].str.split("_").str[2]
tiling_crispri["pam coordinate (hg19)"] = tiling_crispri.temp.str.split(".").str[0]
tiling_crispri["length (including pam)"] = tiling_crispri.temp.str.split(".").str[1]
tiling_crispri.drop('temp', axis=1, inplace=True)

In [14]:
tiling_crispri.drop('Position', axis=1, inplace=True)
tiling_crispri.drop('Gene', axis=1, inplace=True)

In [15]:
tiling_crispri["pam coordinate (hg19)"] = tiling_crispri["pam coordinate (hg19)"].astype(np.int64)
tiling_crispri["length (including pam)"] = tiling_crispri["length (including pam)"].astype(np.int64)

# The PAM site from the KO data seems to be off by 1 from the CRISPRi data
tiling_crispri["pam coordinate (hg19) - 1"] = tiling_crispri["pam coordinate (hg19)"] - 1
tiling_crispri

,guide id,dCas9-KRAB_rho_ave_LG2_LG_MH2_MH,oligo,gene symbol,pam coordinate (hg19),length (including pam),pam coordinate (hg19) - 1
0,ARCN1_c_118438373.25,-0.120761,cccttggagaaCCAcctTGTTGGAAAACCTACCAGAGGTAAACAGT...,ARCN1,118438373,25,118438372
1,ARCN1_c_118438478.24,0.012341,cccttggagaaCCAcctTGTTGGATCTGTTTTGCTCGtaatagGTT...,ARCN1,118438478,24,118438477
2,ARCN1_c_118438478.26,0.029811,cccttggagaaCCAcctTGTTGGTGATCTGTTTTGCTCGtaatagG...,ARCN1,118438478,26,118438477
3,ARCN1_c_118438508.26,0.022175,cccttggagaaCCAcctTGTTGgtaatgtgcagtacttactatgtG...,ARCN1,118438508,26,118438507
4,ARCN1_c_118438682.27,-0.031622,cccttggagaaCCAcctTGTTGgcgctgaaaatagcagccaaacac...,ARCN1,118438682,27,118438681
...,...,...,...,...,...,...,...
53668,YIPF5_w_143554761.28,-0.001537,cccttggagaaCCAcctTGTTGgggcattacatggcacctacctca...,YIPF5,143554761,28,143554760
53669,YIPF5_w_143554879.28,0.024536,cccttggagaaCCAcctTGTTGgcctactgctttagcataaggact...,YIPF5,143554879,28,143554878
53670,YIPF5_w_143554997.27,-0.050816,cccttggagaaCCAcctTGTTGgtctagttgcaattttaatttata...,YIPF5,143554997,27,143554996
53671,YIPF5_w_143555197.28,-0.062784,cccttggagaaCCAcctTGTTGgtacagaatgtaaatccatgcagt...,YIPF5,143555197,28,143555196
53672,YIPF5_w_143555235.28,-0.004076,cccttggagaaCCAcctTGTTGgtttaaataaattactgaagctcc...,YIPF5,143555235,28,143555234

In [16]:
# check if theres any duplicates on the columns we are going to merge on 
tiling_crispri[['gene symbol', 'length (including pam)', 'pam coordinate (hg19) - 1']].duplicated().any()

False

In [17]:
new_tiling[['gene symbol', 'sgRNA length (including PAM)','PAM genomic coordinate [hg19]']].duplicated().any()

False

In [18]:
merged_tiling = pd.merge(tiling_crispri, new_tiling, 
         left_on = ['gene symbol', 'length (including pam)', 'pam coordinate (hg19) - 1'],
         right_on = ['gene symbol', 'sgRNA length (including PAM)','PAM genomic coordinate [hg19]'])

In [19]:
# check unique oligo; all oligos are unique
merged_tiling['oligo'].value_counts()

cccttggagaaCCAcctTGTTGGAAAACCTACCAGAGGTAAACAGTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGCTTTTTTTagtcCtcgagcgtcgaggatccattagg    1
cccttggagaaCCAcctTGTTGGATATCATATTTTAGGTATTTACTGTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGCTTTTTTTagCtcgagcgtcgaggatccattagg    1
cccttggagaaCCAcctTGTTGgtggcaTAATGAAATTTTTCATcaGTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGCTTTTTTTagCtcgagcgtcgaggatccattagg    1
cccttggagaaCCAcctTGTTGggactgttctgtatattgtgtGTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGCTTTTTTTagtcaCtcgagcgtcgaggatccattagg    1
cccttggagaaCCAcctTGTTGgggactgttctgtatattgtgtGTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGCTTTTTTTagtcCtcgagcgtcgaggatccattagg    1
                                                                                                                                                                        ..
cccttggagaaCCAcctTGTTGGTAAACCCCCATGATTTGACTCCACGTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGCTTTTTTTaCtcgagcgtcgaggatccattagg    1
cccttggagaaCCAcctTGTTGGCTGCCACTAGGCTGTGCGAGTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGCTTTTTTTagtcagCtcgagcgtcgaggatccattagg    1
cccttggagaaCCAcctTGTTGGATCCGCTGCCACTAGGCTGTGCGAGTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGCTTTTTTTaCtcgagcgtcgaggatccattagg    1
cccttggagaaCCAcctTGTTGGCTGTGCGAAGGCATTTACCTCCCGTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGCTTTTTTTagCtcgagcgtcgaggatccattagg    1
cccttggagaaCCAcctTGTTGgtttaaataaattactgaagctccaGTTTAAGAGCTATGCTGGAAACAGCATAGCAAGTTTAAATAAGGCTAGTCCGTTATCAACTTGAAAAAGTGGCACCGAGTCGGTGCTTTTTTTaCtcgagcgtcgaggatccattagg    1
Name: oligo, Length: 51420, dtype: int64

In [20]:
# check unique sgRNA sequence; all sgRNA sequence are unique
merged_tiling['sgRNA sequence'].value_counts()

GAAAACCTACCAGAGGTAAACA       1
GATATCATATTTTAGGTATTTACT     1
gtggcaTAATGAAATTTTTCATca     1
ggactgttctgtatattgtgt        1
gggactgttctgtatattgtgt       1
                            ..
GTAAACCCCCATGATTTGACTCCAC    1
GCTGCCACTAGGCTGTGCGA         1
GATCCGCTGCCACTAGGCTGTGCGA    1
GCTGTGCGAAGGCATTTACCTCCC     1
gtttaaataaattactgaagctcca    1
Name: sgRNA sequence, Length: 51420, dtype: int64

In [21]:
# number of overlap between merged ko and crispri
# looks like all the rows have ko and crispri overlapped yayy!!

sum(merged_tiling.apply(lambda row: row['sgRNA sequence'] in row['oligo'],
                     axis=1))

51420

In [22]:
#import dany's annotation of context seq for CRSIPRko

#2023/CRISPRiAnalysis /Dany/Horlbeck KO Ricin Tiling
# Horlbeck-KO.ipynb to get the coordinates 
# RS3 Scores for Horlbeck tiling guides.ipynb use the coordinate file from Horlbeck-KO.ipynb as input to get context seq
dany_context_seq = pd.read_csv('/Users/fzheng/Library/CloudStorage/GoogleDrive-fzheng@broadinstitute.org/Shared drives/GPP Cloud /R&D/People/Fengyi/rule_set/crispri/data/2023/cleaned_crispri_datasets/temp_data_clean/Gilbert 2014/Dany-horlbeck-tiling-with-rs3.csv')

In [23]:
dany_context_seq.head()

,gene symbol,chromosome,strand targeted,hg38_coord,context seq,Position relative to FANTOM5 TSS,absolute z-score,rs3 score
0,ARCN1,chr11,+,118567638.0,GCACTTTCCTTGTTTACCTCTGGTAGGTTT,-4793.0,0.409907,-0.067121
1,ARCN1,chr11,+,118567850.0,ATTGGCAGTAACATCTATCTCATAAGGTTG,-4581.0,0.694579,-0.554137
2,ARCN1,chr11,+,118567997.0,TCCCATAGTGGCAGTATCTTATAATGGTTA,-4434.0,0.566546,-0.090399
3,ARCN1,chr11,+,118568013.0,CATGCTTCTTGAGGAGTCCCATAGTGGCAG,-4418.0,0.997859,0.220064
4,ARCN1,chr11,+,118568026.0,GCAACCCTGTAAGCATGCTTCTTGAGGAGT,-4405.0,0.386895,-0.563347

In [24]:
len(dany_context_seq)

29339

In [25]:
merged_tiling[['gene symbol', 'chromosome', 'strand targeted','PAM genomic coordinate [hg38]']].nunique()

gene symbol                         48
chromosome                          16
strand targeted                      2
PAM genomic coordinate [hg38]    29376
dtype: int64

in the current cleaned Gilbert Rising datasets there are guides with 25 nts and its not completely in the context sequence because 25+6 = 31 and larger than 30 nts context sequence length. Gilbert length is gene_c/w_coord.(length + 3). So need to remember to reive guide id ends with 28

In [26]:
merged_tiling['length'] = merged_tiling['guide id'].str[-2:]
merged_tiling = merged_tiling[merged_tiling['length'] != '28']

In [27]:
# check if the dataframe im merging has duplicates
merged_tiling[['gene symbol', 'chromosome', 'strand targeted','PAM genomic coordinate [hg38]']].duplicated().any()

True

In [28]:
# check if the dataframe im merging has duplicates
dany_context_seq.rename(columns={'hg38_coord':'PAM genomic coordinate [hg38]'})[['gene symbol', 'chromosome', 'strand targeted','PAM genomic coordinate [hg38]']].duplicated().any()

False

In [29]:
merged_tiling_w_context = pd.merge(merged_tiling[['guide id', 'dCas9-KRAB_rho_ave_LG2_LG_MH2_MH', 'oligo', 'gene symbol', 'chromosome',
       'strand targeted', 'sgRNA sequence','Target site MNase signal',
       'Doench et al. Nat. Biotech 2014 sgRNA sequence score',
       'is targeting CDS?','PAM genomic coordinate [hg38]']],
         dany_context_seq.rename(columns={'hg38_coord':'PAM genomic coordinate [hg38]'}),
         on = ['gene symbol', 'chromosome', 'strand targeted','PAM genomic coordinate [hg38]'],
                     how = 'inner')

In [30]:
merged_tiling_w_context['sgRNA sequence'].value_counts()

GAAAACCTACCAGAGGTAAACA      1
ggcttttcccagctagaatacaag    1
gcagaaggttcactgggagccag     1
gcagaaggttcactgggagccagg    1
gttcactgggagccagggggatga    1
                           ..
GCGGAGCTGTCTCGTCGCATTCC     1
GGCGGAGCTGTCTCGTCGCATTCC    1
GCGGGCTTTCGTCTCGGGAGG       1
GGCGGGCTTTCGTCTCGGGAGG      1
gtctagttgcaattttaatttata    1
Name: sgRNA sequence, Length: 39251, dtype: int64

In [31]:
merged_tiling_w_context['context seq'].value_counts()

GGGGAGGGTGGCGCGGGTAGAAACCGGCTT    5
GGGTGGTTACGGCGTGTGAGATTGGGGCTG    5
GGGAGGTAACGACTGCCAGAACCTGGGTGT    5
GGGTGGCGTGCGCATGGTGTCGCGGGGAGG    5
GGGGGTGGCGTGCGCATGGTGTCGCGGGGA    5
                                 ..
AGTCACGTGCAGAGGGGATGCTTTAGGCGT    1
GAACATGCTCAGTCACGTGCAGAGGGGATG    1
AGAACATGCTCAGTCACGTGCAGAGGGGAT    1
CTGAATATTTATTGCAACCTGCGGTGGCTG    1
GTCTAGTTGCAATTTTAATTTATATGGATT    1
Name: context seq, Length: 24911, dtype: int64

In [32]:
cleaned_df = merged_tiling_w_context[['guide id','gene symbol','chromosome','strand targeted','PAM genomic coordinate [hg38]', 'sgRNA sequence', 
            'context seq','dCas9-KRAB_rho_ave_LG2_LG_MH2_MH','Position relative to FANTOM5 TSS',
            'Target site MNase signal','is targeting CDS?','Doench et al. Nat. Biotech 2014 sgRNA sequence score',
        'rs3 score']]

In [33]:
cleaned_df['context seq'].value_counts()

GGGGAGGGTGGCGCGGGTAGAAACCGGCTT    5
GGGTGGTTACGGCGTGTGAGATTGGGGCTG    5
GGGAGGTAACGACTGCCAGAACCTGGGTGT    5
GGGTGGCGTGCGCATGGTGTCGCGGGGAGG    5
GGGGGTGGCGTGCGCATGGTGTCGCGGGGA    5
                                 ..
AGTCACGTGCAGAGGGGATGCTTTAGGCGT    1
GAACATGCTCAGTCACGTGCAGAGGGGATG    1
AGAACATGCTCAGTCACGTGCAGAGGGGAT    1
CTGAATATTTATTGCAACCTGCGGTGGCTG    1
GTCTAGTTGCAATTTTAATTTATATGGATT    1
Name: context seq, Length: 24911, dtype: int64

In [34]:
dupliated_df_same_gene = cleaned_df[cleaned_df[['context seq','gene symbol']].duplicated(keep = False)]

In [35]:
dupliated_df_same_gene[dupliated_df_same_gene['context seq'] == 'CCGGAGCCTGCTTGTTGCAGCTGTGGGTGA']

,guide id,gene symbol,chromosome,strand targeted,PAM genomic coordinate [hg38],sgRNA sequence,context seq,dCas9-KRAB_rho_ave_LG2_LG_MH2_MH,Position relative to FANTOM5 TSS,Target site MNase signal,is targeting CDS?,Doench et al. Nat. Biotech 2014 sgRNA sequence score,rs3 score
26297,SEC23B_c_18488597.24,SEC23B,chr20,-,18507952,GAGCCTGCTTGTTGCAGCTGT,CCGGAGCCTGCTTGTTGCAGCTGTGGGTGA,0.806408,3.0,0.0,False,0.069494,-0.283489
26298,SEC23B_c_18488597.25,SEC23B,chr20,-,18507952,GGAGCCTGCTTGTTGCAGCTGT,CCGGAGCCTGCTTGTTGCAGCTGTGGGTGA,0.817704,3.0,0.0,False,0.069494,-0.283489

In [36]:
len(cleaned_df[cleaned_df[['context seq']].duplicated(keep = False)]) == len(dupliated_df_same_gene)
# all the duplicated seq are within gene

True

In [37]:
# if the duplicated context seq are within the same gene then i take the average rho
for seq in dupliated_df_same_gene['context seq'].unique():
    seq_df = cleaned_df[cleaned_df['context seq'] == seq]
    if len(set(seq_df['gene symbol'])) == 1:
        cleaned_df.loc[seq_df.index,'dCas9-KRAB_rho_ave_LG2_LG_MH2_MH'] = seq_df['dCas9-KRAB_rho_ave_LG2_LG_MH2_MH'].mean()

In [38]:
cleaned_df = cleaned_df.drop_duplicates(['gene symbol','context seq','dCas9-KRAB_rho_ave_LG2_LG_MH2_MH'], keep = 'first').copy()

In [39]:
# no duplicates
cleaned_df[cleaned_df.duplicated()]

Empty DataFrame
Columns: [guide id, gene symbol, chromosome, strand targeted, PAM genomic coordinate [hg38], sgRNA sequence, context seq, dCas9-KRAB_rho_ave_LG2_LG_MH2_MH, Position relative to FANTOM5 TSS, Target site MNase signal, is targeting CDS?, Doench et al. Nat. Biotech 2014 sgRNA sequence score, rs3 score]
Index: []

In [40]:
cleaned_df['context seq'].nunique() == len(cleaned_df)

True

In [41]:
sum(cleaned_df['context seq'].str[25:27] != 'GG')

0

In [42]:
cleaned_df['sgRNA sequence in Context'] = cleaned_df.apply(lambda row: row['sgRNA sequence'].upper() in row['context seq'].upper(),
                     axis=1)

In [43]:
# only kept rows with sgRNA in Context
cleaned_df = cleaned_df[cleaned_df['sgRNA sequence in Context'] == True]

In [44]:
cleaned_df[cleaned_df['context seq'] == 'CCGGAGCCTGCTTGTTGCAGCTGTGGGTGA']

,guide id,gene symbol,chromosome,strand targeted,PAM genomic coordinate [hg38],sgRNA sequence,context seq,dCas9-KRAB_rho_ave_LG2_LG_MH2_MH,Position relative to FANTOM5 TSS,Target site MNase signal,is targeting CDS?,Doench et al. Nat. Biotech 2014 sgRNA sequence score,rs3 score,sgRNA sequence in Context
26297,SEC23B_c_18488597.24,SEC23B,chr20,-,18507952,GAGCCTGCTTGTTGCAGCTGT,CCGGAGCCTGCTTGTTGCAGCTGTGGGTGA,0.812056,3.0,0.0,False,0.069494,-0.283489,True

In [45]:
out_path = '/Users/fzheng/Library/CloudStorage/GoogleDrive-fzheng@broadinstitute.org/Shared drives/GPP Cloud /R&D/People/Fengyi/rule_set/crispri/data/2023/cleaned_crispri_datasets/'

In [46]:
cleaned_df.to_csv(out_path + 'gilbert_2014_cleaned_v3.csv', index = False)

In [48]:
merged_tiling_w_context[merged_tiling_w_context['context seq'] == 'GCTCGGTGAAACGGAGCCACCCCTGGGACC']

,guide id,dCas9-KRAB_rho_ave_LG2_LG_MH2_MH,oligo,gene symbol,chromosome,strand targeted,sgRNA sequence,Target site MNase signal,Doench et al. Nat. Biotech 2014 sgRNA sequence score,is targeting CDS?,PAM genomic coordinate [hg38],context seq,Position relative to FANTOM5 TSS,absolute z-score,rs3 score
17816,QSOX2_c_139139815.23,0.779203,cccttggagaaCCAcctTGTTGGGTGAAACGGAGCCACCCCTGTTT...,QSOX2,chr9,-,GGTGAAACGGAGCCACCCCT,2.482609,0.602588,False,136247968,GCTCGGTGAAACGGAGCCACCCCTGGGACC,-2166.0,0.390384,0.384896
17817,QSOX2_c_139139815.27,0.01256,cccttggagaaCCAcctTGTTGGCTCGGTGAAACGGAGCCACCCCT...,QSOX2,chr9,-,GCTCGGTGAAACGGAGCCACCCCT,2.500000,0.602588,False,136247968,GCTCGGTGAAACGGAGCCACCCCTGGGACC,-2166.0,0.390384,0.384896